<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Aayush Goel</h2>
            <h4>aayush.goel@bajajfinserv.in</h4>
        </div>
        <img [src]="imgSrc" [alt]="imgAlt">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home/posts">Posts</a>

    <mat-divider></mat-divider>

</mat-nav-list>